# Node modules & build outputs
node_modules/
.next/
out/
build/

# Local env files
.env*
.next-env.d.ts

# Vercel
.vercel/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store

# Editor folders (add yours if using VSCode, IntelliJ, etc.)
.vscode/
.idea/
